@import "vendor/reset.scss";
@import "vendor/bootstrap.scss";
@import "vendor/layout.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "parts/bg-images.scss";
@import "parts/contact-form.scss";

$mov:#d700a0;

em{
  font-style: italic;
  font-weight: 700;
}

a{
  color:white;
  &:hover{
    color:$mov;
  }
}

a.logo{
  text-decoration:none;
  color:white;
}
.output,
.output button {
  text-transform: capitalize;
  // overflow: auto;
  // max-height: calc(5em * 2);
  // background-color: rgba(0, 0, 0, 0.4);
  // border-radius: 2em;
}

.output button{
  &:after {
      content: "Copied!";
      position: absolute;
      transition: all 0.2s;
      color: white;
      opacity: 0;
      margin-left: 2em;
  }
  &:active:after {
      margin-left: 3em;
      opacity: 1;
  }
}
.btn{
  &.back:before{
    content:'🡰';
    margin-right: 0.3em;
    vertical-align: middle;
  }
  &.btn-link{
    text-decoration:none;
    &:focus{
      box-shadow:none;
    }
    &.white{
      color:white;
    }
  }
}


.selector{
  display:inline-block;
  span{
    border-bottom:3px solid white;
    cursor:pointer;

    background: white;
    color: black;
    text-shadow: none;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    line-height: 1.8em;
  }
  span:after{
    content:'▼';
    font-size:0.5em;
    margin-left:0.5em;
    vertical-align: middle;
  }
  ul{
    opacity:0;
    padding:0;
    position:absolute;
    visibility:hidden;
    z-index:999;
    background-color:white;
    text-align:left;
    background-color:#271f30bf;
    border: 3px solid white;
    border-radius: 0 1em 1em 1em;
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    transition:all 0.5s;
  }
  li{
    padding:0.1em 0.5em;
    transition:all 0.5s;
    &:hover{
      text-shadow: 0 0 2px white;
      transform: translate3d(2px, 0px, 0px);
    }
  }

  a{
    text-decoration:none;
    color:white;
  }
}

.google-ad {
  position: absolute;
  top:6em;
  &.left{
    left:calc(42em/2 - 300px);
  }
  &.right{
    right:calc(42em/2 - 300px);
  }
}

.blogRoll{

  .bg-light a {
    color:black;
    text-decoration:none;
    &:hover{
      text-decoration:underline;
      color:$mov;
    }
  }
}


.blog-post article{
  font-size:120%;
  a {
    color:$mov;
  }
  h2 {
    font-weight:800;
    margin-top:1.5em;

    &::after{
      content: " ";
      width: 50%;
      border-bottom: 10px solid $mov;
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  img{
    width:100%;
    height:auto;
    margin:1em 0;
  }

  ul{
    list-style:disc;
    font-weight:500;
  }
}
.post,.page{
    font-size: 1.3em;
    line-height:1.3;
    text-align:left;
    p:first-of-type {
      font-size: 130%;
    }
    ul{
      list-style:disc;
    }
    .blockquote{
      box-shadow:-0.5em 0 0 white;
      padding:0.2em 0 0.2em 1em;
      margin-left:-1em;
    }
    dl{
      
      dt{
        font-size:1.5em;
        margin-bottom:1em;
        &:not(:first-child){
          margin-top:1.2em;
        }
      }
      dd{
        font-style:italic;
      }
    }
}

.d-flex{
  flex-direction: column;
}

.no-shadow{
  text-shadow:none;
}

.jssocials-shares{
  a{
    color:white!important;
  }
}
@import "mobile.scss";