
<section class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<div class="container">
		{{#slice posts offset=offset limit=limit }}
		<article class="mt-5 mb-5">
			<a href="{{url}}" class="d-flex text-start flex-row">
				<div class="thumbnail col-sm-4">
					<img alt="{{image2alt featured_image}}" width="200px" class="img-fluid" src="{{featured_image}}">
				</div>
				<div class="details col p-3 pt-0">
					
					<h2>{{title}}</h2>
					<!--<p>{{description}}</p>-->
				</div>
			</a>
		</article>
		{{/slice}}

		<!-- Add pagination component -->
		{{{pagination}}}

	</div>
</section>