          <main class="px-3">
            <i class="usr bi bi-person-circle" style="font-size:10vw"></i>
            <h1>Generate Your
                <script>
                    function toggleSelector(selector){
                        var el = selector.parentNode.querySelector('ul');
                        el.style.opacity=el.style.opacity==0?1:0;
                        if (el.style.opacity==0){
                            setTimeout(function(){
                                    el.style.visibility="hidden";
                            },500);
                        } else {
                           setTimeout(function(){
                                el.style.visibility="visible";
                            },0); 
                        }
                    }
                </script>
                <span class="selector">
                    <span onclick="toggleSelector(this)">🕵️‍♂️Select A Generator</span>
                    <ul>
                        {{#each generators}}
                        <li><a href="{{url}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </span>
            </h1>
            <p class="lead">{{#if shortDescription}}{{shortDescription}}{{else}}Quickly generate random names{{/if}}</p>
            <hr>
            

          </main>