<script>
	{{#if pattern}}window.GENERATOR_PATTERN='{{pattern}}';{{/if}}
</script>
          <main class="px-3">
            <i class="usr bi bi-person-circle" style="font-size:10vw"></i>
            <h1>{{pageTitle}}</h1>
            <p class="lead">{{#if shortDescription}}{{{shortDescription}}}{{else}}Quickly generate random gamer names{{/if}}</p>
            <hr>
            <div class="lead">
                <div class="row output">
                </div>
                <div class="row">
                    <!-- <div class="col"><input class="form-control" type="text" name="pattern"></div> -->
                    <div class="col"><button class="mt-5 btn border-white bg-white btn-lg" name="go">GENERATE</button></div>
                    <a class="btn btn-link white back" href="/">more generators</a>
                </div>
                <div class="google-ad left d-none">
                    {{>googleAd}}
                </div>
                <div class="google-ad right  d-none">
                    {{>googleAd}}
                </div>
                
            </div>

          </main>