body.bg-image {
  background: none no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:none!important;
  &::before {
    display: block;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0,0.5);
  }

  &.bg-image-1 {
    background-image: url(../img/forest-931706_1920.webp);
  }
  &.bg-image-2 {
    background-image: url(../img/fantasy-4388628_1920.webp);
  }
  &.bg-image-3 {
    background-image: url(../img/landscape-5811471_1920.webp);
  }
  &.bg-image-4 {
    background-image: url(../img/city-5848267_1920.webp);
  }
  &.bg-image-5 {
    background-image: url(../img/scifi-3617337_1920.webp);
  }
  &.bg-image-6 {
    background-image: url(../img/andre-hunter-ugjPgy2BQug-unsplash.webp);
  }
  &.bg-image-7 {
    background-image: url(../img/manny-moreno-CJZXBsXXlDI-unsplash.webp);
  }

  &.bg-image-8 {
    background-image: url(../img/xbox-2606608_1920.webp);
  }
  &.bg-image-9 {
    background-image: url(../img/human-3055939_1920.webp);
  }

  &.bg-image-10 {
    background-image: url(../img/girl-4996096_1920.webp);
  }

  &.bg-image-11 {
    background-image: url(../img/girl-eyes-photoshop-fantastic-4838591.webp);
  }

  &.bg-image-12 {
    background-image: url(../img/steampunk-2498825_1920.webp);
  }

  &.bg-image-13 {
    background-image: url(../img/woman-6061865_1920.webp);
  }
  
}