{{>blogLatest}}
<div class="page">
	<blockquote class="blockquote">
	<div>
		<dl>
			<dt>nickname [ˈnɪk.neɪm | nik·neim]</dt>		
		<dd>A <b>nickname</b> is a familiar or humorous name given to a person, animal or thing instead of the real name. A <b>nickname</b> is often considered desirable, symbolising a form of acceptance or, can sometimes be a form of ridicule.</dd>
			<dt>generator [ˈdʒen.ə.reɪ.tər | jeh·nuh·rei·tuh]</dt>
			<dd>a thing that generates something, in particular.</dd>
		</dl>
	</div>
	</blockquote>


	<p>In real life, <b>nicknames</b> are given to us by other people like friends, boyfriend or girlfriend, parents, school friends, work colleagues, etc.). </p>
	<p>In the virtual world, you can choose a <b>nickname</b> for yourself. If you play a video game for example, you have to choose a gamer nickname. If you are looking for some cool ideas, try our <b>nickname generator for games</b>. </p>
	
	<p><b>Gamer tags</b> are unique names that <b>gamers</b> assign to their <b>game</b> character, especially in online multiplayer games. They go by many names; commonly, usernames, <b>gaming</b> names, nicknames for games but the most popular term for them are <b>Gamertags</b>. </p>
	<p>A <b>gamertag</b> is <b>your</b> alter ego in the Xbox world. It's made from:</p>
	<ul><li><span >an alias (a false or assumed identity)</span></li><li aria-level="1">an optional avatar or picture (called a gamerpic)</li><li aria-level="1">a bit of info to represent you when <b >you're</b><span > playing games and sharing with other people in the Xbox community.</span></li></ul><p>In the online world, you can also pick nicknames for websites, forums and social media. This type of nickname is called <b>username</b> or <b>name</b>.  </p>
	<p>With our <b>nickname generator</b> you can create an unique username for Instagram. An Instagram name has to have that wow factor to attract followers. There are lots of <b>Instagram username ideas</b> ready to be discovered: @saltwhitoutpepper, @rockyhill, @proudpapa, @highjumper, @fancydreaming, etc.</p>
	<p><b>Nicknames</b> come in all shapes and forms. And we have a list with some of <b>the best nicknames</b> for every type of person. Find nicknames with our free nickname generator!</p>
	<p>You can easily create nicknames for games, nicknames for girls, nicknames for guys, nicknames for boys, nicknames for girlfriend, nicknames for boyfriend, nicknames for friends, nicknames for kids and so on.</p>
</div>